{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build.zip",
            "label": "Built Files"
          }
        ],
        "releasedLabels": "released"
      }
    ],
    [
      "@semantic-release-plus/docker",
      {
        "name": "antonk0/arq-ui"
      }
    ]
  ]
}