{
  "branches": [
    "main",
    {
      "name": "rc",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "build.zip",
            "label": "Built Files"
          }
        ],
        "releasedLabels": "released"
      }
    ],
    [
      "@codedependant/semantic-release-docker",
      {
        "dockerTags": [
          "{{#if prerelease.[0]}}{{prerelease.[0]}}{{else}}latest{{/if}}",
          "{{major}}-{{#if prerelease.[0]}}{{prerelease.[0]}}{{else}}latest{{/if}}",
          "{{major}}.{{minor}}-{{#if prerelease.[0]}}{{prerelease.[0]}}{{else}}latest{{/if}}",
          "{{version}}"
        ],
        "dockerImage": "arq-ui",
        "dockerProject": "antonk0",
        "dockerPlatform": [
          "linux/amd64",
          "linux/arm64"
        ]
      }
    ]
  ]
}